git+https://github.com/kcorder/autonomous-learning-library.git
pettingzoo==1.16.0
supersuit==3.3.4
stable_baselines3==1.2.0
optuna==2.10.0
dill==0.3.4
multi_agent_ale_py==0.1.11
mysqlclient==2.1.0
autorom==0.4.2
ray==1.10.0
lz4
